{% extends "base.html" %}

{% block title %}Viewing {{ filename }}{% endblock %}

{% block content %}
    <h1>{{ filename }}</h1>
    <a href="{{ request.referrer or url_for('home') }}">← Back to results</a>

    <div class="file-view-container">
        <pre>{% for line in content.split('\n') %}
<a id="L{{ loop.index }}" href="#L{{ loop.index }}" class="line-number">{{ loop.index }}:</a> {{ line | replace(search_term, '<mark>' ~ search_term ~ '</mark>') | safe }}{% endfor %}</pre>
    </div>
{% endblock %}
