{% extends "base.html" %}

{% block title %}Text Search Engine{% endblock %}

{% block content %}
    <h1>Haken Dran Episoden durchsuchen</h1>
    <form method="POST">
        <input type="text" name="search_term" placeholder="Enter search term..." required>
        <button type="submit">Search</button>
    </form>
    <hr>
    <p><em>Haken Dran – Das Social-Media-Update der c't</em> ist Podcast über Social-Media-Themen im weiteren Sinne.<br><br>Mehr Infos: <a href="https://hakendran.org">hakendran.org</a>.</p>
    <p>Diese Suchmaschine ist ein experimentelles Projekt der Haken Dran Community. Aktuell werden die Transkripte der youtube-playlist durchsucht. Älteste durchsuchte Episode: 2024-10-22.</p>
{% endblock %}
